.sponsors {
  background-color: transparent;
  width: 100%;
}
.sponsors ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto;
  width: 100%;
}
.sponsors ul li {
  background-color: transparent;
}
.sponsors ul li {
  align-self: center;
}
.sponsors ul li img {
  width: 100px;
  height: 100px;
  background-color: transparent;
  transition: transform 0.2s;
}
.sponsors ul li img:hover {
  transform: scale(1.5);
}

#twitch {
  width: 80px;
  height: 80px;
}
#mixer {
  width: 90px;
  height: 90px;
}
#discord {
  width: 65px;
  height: 65px;
}
#blizzard {
  width: 120px;
  height: 120px;
}

#copyright-logos {
  text-align: center;
  color: rgba(255, 255, 255, 0.459);
}
