<section class="sponsors">
  <section class="container">
    <ul>
      <li>
        <a href="https://www.twitch.tv/" target="_blank">
          <img id="twitch" src="../../../assets/sponsors/twitch.png" alt="" />
        </a>
      </li>
      <li>
        <a href="https://mixer.com/" target="_blank">
          <img id="mixer" src="../../../assets/sponsors/mixer.png" alt="" />
        </a>
      </li>
      <li>
        <a href="https://discord.com/" target="_blank">
          <img id="discord" src="../../../assets/sponsors/discord.png" alt="" />
        </a>
      </li>
      <li>
        <a href="https://www.blizzard.com/" target="_blank">
          <img
            id="blizzard"
            src="../../../assets/sponsors/blizzard.png"
            alt=""
          />
        </a>
      </li>
    </ul>
    <p id="copyright-logos">
      (StreamMotion is made for educational purposes only and nothing else! If
      you think your logo shouldn't be here please contact me)
    </p>
  </section>
</section>
