.game-card {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
  transition: transform 0.2s;
}
.game-card:hover {
  cursor: pointer;
}
.game-card:hover img {
  transform: scale(1.1);
}
.game-card:hover p {
  color: #d9b08c;
}

p {
  margin-bottom: 10px;
  color: #fff;
}
p.game {
  font-weight: bold;
}
p.viewers {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.category span {
  font-size: 0.8rem;
  color: #fff;
  border-radius: 100px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.185);
}
