.about-stream {
  margin: 100px 0;
}
.about-stream .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about-stream .container .about-streams-header {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  color: #d1e8e2;
  font-weight: bold;
}
.about-stream .container .about-streams-header h2 span,
.about span {
  color: #ffcb9a;
}

.about-stream .container .iframe-container {
  flex-basis: 70%;
}
.about-stream .container .iframe-container iframe {
  width: 100%;
  height: 550px;
}

.preferences,
.support,
.chat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 20px 0 0;
}
.preferences p,
.support p,
.chat p {
  font-weight: normal;
  flex-basis: 85%;
  margin: 0;
}
.preferences i,
.support i,
.chat i {
  color: #ffcb9a;
  font-size: 1.8rem;
  align-self: center;
  flex-basis: 15%;
}

@media screen and (max-width: 1200px) {
  .about-stream .container {
    flex-direction: column;
    align-content: center;
  }
  .about-stream .container .iframe-container {
    flex-basis: 100%;
  }
  .about-stream .container .about-streams-header {
    flex-basis: 100%;
    width: 100%;
    text-align: center;
  }
  .preferences p,
  .support p,
  .chat p {
    flex-basis: unset;
  }
  .preferences i,
  .support i,
  .chat i {
    flex-basis: 8%;
  }
  .about-streams-header {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .about .preferences,
  .support,
  .chat {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .about-stream .container .iframe-container iframe {
    height: 300px;
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 400px) {
  .about-stream .container .iframe-container iframe {
    height: 240px;
  }
}
