<li class="streamer-mini">
  <section class="avatar">
    <img
      src="https://static-cdn.jtvnw.net/jtv_user_pictures/asmongold-profile_image-f7ddcbd0332f5d28-300x300.png"
      alt=""
    />
  </section>
  <section class="about">
    <p class="name">Asmongold</p>
    <p class="game">World of Warcraft</p>
  </section>
  <section class="status online">
    <i class="fa fa-circle" aria-hidden="true"></i>
    <p class="viewers">50000</p>
  </section>
  <section *ngIf="false" class="status offline">
    <p>Offline</p>
  </section>
</li>
