<div class="register-container">
  <div class="container">
    <div class="auth-wrapper">
      <div class="auth-form-wrapper">
        <div class="auth-media">
          <img src="../../../assets/illustrations/form.svg" />
        </div>
        <div class="auth-form">
          <div class="auth-form-label">
            <p class="primary-label">Sign Up</p>
          </div>

          <!--	<form> -->
          <form [formGroup]="registerForm">
            <div>
              <app-input
                [control]="registerForm.controls.email"
                placeholder="Email"
                name="email"
              ></app-input>
            </div>

            <div>
              <app-input
                [control]="registerForm.controls.password"
                placeholder="Password"
                type="password"
                name="password"
              ></app-input>
            </div>
            <div class="auth-links-container">
              <p class="auth-fp-link">Already registered ?</p>
            </div>

            <div>
              <button type="submit" [disabled]="registerForm.invalid">
                Sign Up
              </button>
            </div>
          </form>
          <!--	</form> -->
        </div>
      </div>
    </div>
  </div>
</div>
