<app-navbar></app-navbar>
<section class="home">
  <section class="side-panel">
    <app-side-panel></app-side-panel>
  </section>
  <section class="main">
    <h1>Streams</h1>
    <section class="category">
      <ul>
        <li routerLink="./" routerLinkActive="active-category">Categories</li>
        <li routerLink="all" routerLinkActive="active-category">
          Live Channels
        </li>
      </ul>
    </section>
    <section class="streams">
      <router-outlet></router-outlet>
    </section>
  </section>
</section>
