<section class="footer">
  <section class="container">
    <section class="navlinks">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Streams</a></li>
        <li><a href="#">Publications</a></li>
        <li><a href="#">Discussions</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </section>
    <hr />
    <section class="about">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id laboriosam
        soluta repudiandae quis error veniam reiciendis dolor, animi deleniti
        aliquid ducimus, iusto earum magni, reprehenderit sunt. Culpa vel id
        quibusdam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
        laboriosam soluta repudiandae quis error veniam reiciendis dolor, animi
        deleniti aliquid ducimus, iusto earum magni, reprehenderit sunt. Culpa
        vel id quibusdam!
      </p>
    </section>
    <section class="social">
      <a href="https://www.facebook.com/daniel.pashaliyski" target="_blank">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/daniel-pashaliyski-ab65baa0"
        target="_blank"
      >
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
      <a href="https://github.com/dontlookatmee" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
      <a href="https://daniel-website.vercel.app/" target="_blank">
        <i class="fa fa-address-card" aria-hidden="true"></i>
      </a>
    </section>
  </section>
  <section class="copyrights">
    <p>© 2020 Copyright: <span>Daniel Pashaliyski</span></p>
  </section>
</section>
