<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="./">StreamMotion</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    *ngIf="auth.user$ | async as user; else login"
    class="collapse navbar-collapse navbar-menu"
    id="navbarNavAltMarkup"
  >
    <div class="navbar-nav">
      <a
        id="home"
        class="nav-item nav-link home"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </a>
      <a
        routerLink="streams"
        class="nav-item nav-link"
        routerLinkActive="active"
      >
        Streams
      </a>
      <a
        routerLink="publications"
        class="nav-item nav-link"
        routerLinkActive="active"
      >
        Publications
      </a>
      <a
        routerLink="discussions"
        class="nav-item nav-link"
        routerLinkActive="active"
      >
        Discussions
      </a>
      <a routerLink="about" class="nav-item nav-link" routerLinkActive="active">
        About
      </a>
      <a (click)="handleSignout()" class="nav-item nav-link logout">
        Sign Out
      </a>
    </div>
  </div>
  <ng-template #login>
    <div class="collapse navbar-collapse navbar-menu" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          id="home"
          class="nav-item nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
        <a
          class="nav-item nav-link signin"
          routerLink="auth/signin"
          routerLinkActive="active-others"
        >
          Sign In
        </a>
        <a
          class="nav-item nav-link register"
          routerLink="auth/register"
          routerLinkActive="active-others"
        >
          Register
        </a>
      </div>
    </div>
  </ng-template>
</nav>
