.navbar {
  background-color: #4056a1;
  padding: 0.8rem 1rem;
}
.navbar-brand {
  color: #d79922;
  font-weight: bold;
}
.navbar-menu {
  justify-content: flex-end;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.signin,
.register {
  margin-left: 15px;
  background-color: #d79922;
  border-radius: 4px;
}
.signin:hover,
.register:hover {
  background-color: #b37e1c;
}
#home:hover,
.navbar-brand:hover {
  color: #d79922;
}
.active {
  color: #d79922;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #d79922;
}
