<section class="homepage">
  <header class="header">
    <section class="container">
      <h1>Get your favourite streams in front of you right now</h1>
      <app-button text="Get Started" link="about" type="primary"></app-button>
      <img src="../../../assets/illustrations/gaming.svg" alt="" />
    </section>
  </header>
  <section class="about-stream">
    <section class="container">
      <section class="about-streams-header">
        <h2>What does <span>StreamMotion</span> helps you for ?</h2>
        <section class="about">
          <section class="preferences">
            <i class="fa fa-desktop" aria-hidden="true"></i>
            <p>
              Watch your favourite streams based on your
              <span>StreamMotion</span> preferences.
            </p>
          </section>
          <section class="support">
            <i class="fa fa-heart" aria-hidden="true"></i>
            <p>
              Support your favourite streams with
              <span>StreamMotion</span> community.
            </p>
          </section>
          <section class="chat">
            <i class="fa fa-comments" aria-hidden="true"></i>
            <p>
              Discuss your favourite streams with the
              <span>StreamMotion</span> community.
            </p>
          </section>
        </section>
      </section>
      <section class="iframe-container">
        <iframe
          class="embed-responsive-item"
          src="https://player.twitch.tv/?channel=psherotv&muted=true&parent=localhost"
          allowfullscreen
        >
        </iframe>
      </section>
    </section>
  </section>

  <section class="sponsors">
    <section class="container">
      <ul>
        <li>
          <img id="twitch" src="../../../assets/sponsors/twitch.png" alt="" />
        </li>
        <li>
          <img id="mixer" src="../../../assets/sponsors/mixer.png" alt="" />
        </li>
        <li>
          <img id="discord" src="../../../assets/sponsors/discord.png" alt="" />
        </li>
        <li>
          <img
            id="blizzard"
            src="../../../assets/sponsors/blizzard.png"
            alt=""
          />
        </li>
      </ul>
    </section>
  </section>
  <section class="footer">
    <app-footer></app-footer>
  </section>
</section>
