<section class="homepage">
  <header class="header">
    <section class="container">
      <h1>Get your favourite streams in front of you right now</h1>
      <app-button text="Get Started" link="about" type="primary"></app-button>
      <img src="../../../assets/illustrations/gaming.svg" alt="" />
    </section>
  </header>
  <section class="top-streams">
    <section class="container">
      <section class="top-streams-header">
        <h2>Watch your favourite streams and win prizes</h2>
      </section>
      <section class="iframe-container">
        <iframe
          class="embed-responsive-item"
          src="https://player.twitch.tv/?channel=psherotv&muted=true&parent=localhost"
          allowfullscreen
        >
        </iframe>
      </section>
    </section>
  </section>
</section>
