.homepage {
  background: linear-gradient(
    90deg,
    rgb(55, 66, 61) 0%,
    rgba(17, 100, 102, 1) 100%
  );
}
.header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .container h1 {
  margin-top: 150px;
  margin-bottom: 20px;
  width: 70%;
  text-align: center;
  font-weight: bold;
  color: #d1e8e2;
}
.header img {
  width: 500px;
  height: 500px;
}

/* Top Streamers */

.about-stream {
  margin: 100px 0;
}
.about-stream .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about-stream .container .about-streams-header {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  color: #d1e8e2;
  font-weight: bold;
}
.about-stream .container .about-streams-header h2 span,
.about span {
  color: #ffcb9a;
}

.about-stream .container .iframe-container {
  flex-basis: 70%;
}
.about-stream .container .iframe-container iframe {
  width: 100%;
  height: 550px;
}

.preferences,
.support,
.chat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 20px 0 0;
}
.preferences p,
.support p,
.chat p {
  font-weight: normal;
  flex-basis: 85%;
  margin: 0;
}
.preferences i,
.support i,
.chat i {
  color: #ffcb9a;
  font-size: 1.8rem;
  align-self: center;
  flex-basis: 15%;
}

/* Sponsors */
.sponsors {
  background-color: transparent;
  width: 100%;
  height: 120px;
}
.sponsors ul {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto;
  width: 100%;
}
.sponsors ul li {
  background-color: transparent;
}
.sponsors ul li {
  align-self: center;
}
.sponsors ul li img {
  width: 100px;
  height: 100px;
  background-color: transparent;
}

#twitch {
  width: 80px;
  height: 80px;
}
#mixer {
  width: 90px;
  height: 90px;
}
#discord {
  width: 65px;
  height: 65px;
}
#blizzard {
  width: 120px;
  height: 120px;
}
